<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-petclinic:war exploded">
    <output-path>$PROJECT_DIR$/target/spring-petclinic-1.0.0-SNAPSHOT</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-petclinic/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-petclinic" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.jadira.usertype:usertype.core:3.1.0.CR8" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-entitymanager:4.2.1.Final" />
          <element id="library" level="project" name="Maven: org.jboss.logging:jboss-logging:3.1.0.GA" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-core:4.2.1.Final" />
          <element id="library" level="project" name="Maven: antlr:antlr:2.7.7" />
          <element id="library" level="project" name="Maven: dom4j:dom4j:1.6.1" />
          <element id="library" level="project" name="Maven: org.jboss.spec.javax.transaction:jboss-transaction-api_1.1_spec:1.0.1.Final" />
          <element id="library" level="project" name="Maven: org.hibernate.javax.persistence:hibernate-jpa-2.0-api:1.0.1.Final" />
          <element id="library" level="project" name="Maven: org.javassist:javassist:3.15.0-GA" />
          <element id="library" level="project" name="Maven: org.hibernate.common:hibernate-commons-annotations:4.0.1.Final" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.5" />
          <element id="library" level="project" name="Maven: org.jadira.usertype:usertype.spi:3.1.0.CR8" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-jpa:1.3.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-commons:1.5.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:3.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:3.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.slf4j:jcl-over-slf4j:1.7.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-orm:3.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:3.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:3.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:3.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:3.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:3.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjrt:1.7.3" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:3.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:3.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context-support:3.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-oxm:3.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jms:3.2.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-jdbc:7.0.42" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-juli:7.0.42" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.0.13" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.0.13" />
          <element id="library" level="project" name="Maven: rome:rome:1.0" />
          <element id="library" level="project" name="Maven: jdom:jdom:1.0" />
          <element id="library" level="project" name="Maven: joda-time:joda-time:2.3" />
          <element id="library" level="project" name="Maven: joda-time:joda-time-hibernate:1.3" />
          <element id="library" level="project" name="Maven: joda-time:joda-time-jsptags:1.1.1" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.22" />
          <element id="library" level="project" name="Maven: org.hsqldb:hsqldb:2.3.0" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-validator:4.3.1.Final" />
          <element id="library" level="project" name="Maven: javax.validation:validation-api:1.0.0.GA" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-ehcache:4.2.1.Final" />
          <element id="library" level="project" name="Maven: net.sf.ehcache:ehcache-core:2.6.6" />
          <element id="library" level="project" name="Maven: org.webjars:bootstrap:2.3.0" />
          <element id="library" level="project" name="Maven: org.webjars:jquery:1.9.0" />
          <element id="library" level="project" name="Maven: org.webjars:jquery-ui:1.9.2" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.7.3" />
          <element id="library" level="project" name="Maven: com.github.dandelion:datatables-jsp:0.8.14" />
          <element id="library" level="project" name="Maven: com.github.dandelion:datatables-core:0.8.14" />
          <element id="library" level="project" name="Maven: com.googlecode.json-simple:json-simple:1.1.1" />
          <element id="library" level="project" name="Maven: commons-lang:commons-lang:2.6" />
          <element id="library" level="project" name="Maven: commons-beanutils:commons-beanutils:1.8.3" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-access:1.0.9" />
          <element id="library" level="project" name="Maven: com.github.dandelion:datatables-export-itext:0.8.14" />
          <element id="library" level="project" name="Maven: com.itextpdf:itextpdf:5.3.4" />
          <element id="library" level="project" name="Maven: com.github.dandelion:datatables-servlet2:0.8.14" />
        </element>
      </element>
    </root>
  </artifact>
</component>